.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

label {
  display: flex;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: solid;
}

#tweet-text {
  width: 100%;
  border: none;
  background-color: #f4f1ec;
  margin-top: 1em;
}

.lower-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: white;
  background-color: #008b8b;
  font-family: "Bungee", sans-serif;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
}

button:hover {
  color: #ffffff;
  background-color: rgb(6, 78, 78);
}

.counter {
  color: #808080;
  font-family: "Bungee", sans-serif;
}

.char-exceeded {
  color: red;
}

.alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  border-radius: 8px;
  display: none; 
  margin: 24px; 
  padding: 0.2em;
}

/* .alert-msg {

} */